/*$body-bg-color: #fff;*/
$body-bg-color: #F8F8F8;

$body-font-color: #777;
$body-font-stack: 'Lato', sans-serif;

$header-font-stack: 'Merriweather', serif;

body, html {
    height: 100%;
	background-color: $body-bg-color;
    color: $body-font-color;
    font-family: $body-font-stack;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    /*font-family: $header-font-stack;*/
}

hr { 
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    /*border: 0; 
    padding-left: 15%;
    padding-right: 15%;
    height: 1px;
    background-color: rgba(153, 153, 153, .95);
    width: 100%;*/
}

#main-container {
    display: table;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

pre {font-family: consolas, courier, monospace;
       font-size: 1em;
       line-height: 1.2em;
       white-space: pre; 
       border: 1px solid #666;
       }

*, *:after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media all and (max-device-width:800px),
all and (max-width:480px)
{
    hr { 
        /*border: 0;
        height: 0;
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        border-bottom: 2px solid rgba(255, 255, 255, 0.3);*/
    }
}


/* Web typography scale from http://typecast.com/blog/a-more-modern-scale-for-web-typography */
body {
  font-size: 100%;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

#page {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}

@media (min-width: 43.75em) {
  #page {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}

h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}
h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}

h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}


blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}
@import 'header';
@import 'content';
@import 'footer';
@import 'running';
@import 'blog';
@import 'fonts';
