/*$body-bg-color: #fff;*/
body, html {
  height: 100%;
  background-color: #F8F8F8;
  color: #777;
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5 {
  /*font-family: $header-font-stack;*/ }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.videoWrapper iframe,
.videoWrapper object,
.videoWrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  /*border: 0; 
  padding-left: 15%;
  padding-right: 15%;
  height: 1px;
  background-color: rgba(153, 153, 153, .95);
  width: 100%;*/ }

#main-container {
  display: table;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

.codehilite {
  max-width: 100%; }

pre {
  font-family: consolas, courier, monospace;
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  overflow-x: auto;
  background-color: #272822;
  font-size: .75em;
  line-height: 1.2em;
  padding: .5em; }

*, *:after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media all and (max-device-width: 800px), all and (max-width: 480px) {
  hr {
    /*border: 0;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);*/ } }
/* Web typography scale from http://typecast.com/blog/a-more-modern-scale-for-web-typography */
body {
  font-size: 100%; }

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5; }

#page {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */ }

@media (min-width: 43.75em) {
  #page {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */ } }
h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */ }

h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */ }

h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */ }

h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111; }

blockquote {
  /*font-size: 1.25em;*/
  /* 20px / 16px */
  /*line-height: 1.25;*/
  /* 25px / 20px */ }

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */ } }
/*$big-name-color: 
$nav-links-color:

$big-name-

*/
#header {
  background-color: #454051;
  display: table-row; }

#name-container {
  display: inline-block; }

#banner-links {
  display: inline-block;
  float: right;
  bottom: 0; }
  #banner-links a {
    text-transform: uppercase; }

.name-big-reverse {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.name-big {
  text-shaddow: 1px 0px 1px rgba(150, 150, 150, 0.54) !important;
  display: inline-block;
  font-family: 'Merriweather', serif;
  font-size: 32px;
  padding: 0;
  margin: 0;
  letter-spacing: -1px; }

#name_container {
  float: left;
  bottom: 0; }

#header a {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  /*color: #505050;*/
  color: #fff;
  /*color: rgba(153, 153, 153, 0.95);*/
  margin: .5em;
  text-decoration: none; }

#header a:hover {
  color: #000; }

#header a:hover {
  color: #000; }

#header-content {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 50px;
  padding-bottom: 40px; }
  #header-content hr {
    margin-top: 40px; }

.clear {
  clear: both; }

#big-name-div {
  display: inline-block;
  color: rgba(153, 153, 153, 0.95);
  padding: 0;
  /*border: 1px solid rgba(153, 153, 153, 0.95);*/
  border: 1px solid #fff; }

@media screen and (max-width: 768px) {
  #header-content {
    background-color: #454051;
    /*background-color: #52414C;*/
    display: block;
    margin: 0;
    padding: 1em;
    border-bottom: 1px #333 solid;
    box-shadow: 0 10px 0 #333; }

  #big-name-div {
    text-align: center;
    margin: 0 auto;
    color: rgba(153, 153, 153, 0.95);
    padding: 0; }

  #name-container {
    display: block;
    text-align: center; }

  #banner-links {
    display: block;
    float: none;
    margin: 20px auto;
    text-align: center; }
    #banner-links a {
      text-transform: uppercase; } }
/* Variables */
/*$content-anchor-color: #000;*/
/*$content-anchor-color: #EE8434;*/
/* Start CSS */
#content_container {
  display: table-row;
  height: 100%; }

#content {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F8F8F8;
  font-family: "Lato", sans-serif;
  color: #555; }
  #content img {
    max-width: 100%; }
  #content a {
    color: #DB504A;
    text-decoration: none;
    font-weight: 700; }
  #content a:hover {
    border-bottom: 3px solid #FFF06A; }
  #content h1, #content h2, #content h3, #content h4 {
    font-family: 'Merriweather', serif;
    color: #000; }
  #content .image-caption {
    font-size: .5em;
    font-style: italic; }

/* Quote styling */
blockquote {
  font-family: Georgia, serif;
  font-style: italic;
  margin: 10px auto;
  padding: .5em;
  position: relative;
  color: #383838;
  /*border-left: 2px solid #D0D0D0;*/
  display: table;
  width: auto; }

/*blockquote:before {
    font-size: 1.25em !important;
    display: block;
    content: "\201C";
    content: "\201C";
    position: absolute;
    left: -20px;
    to$p: -15px;
    border-left: 1px solid #000;
    color: #7a7a7a;
}*/
blockquote cite {
  color: #999999;
  display: block;
  margin-top: 5px; }

blockquote cite:before {
  content: "\2014 \2009"; }

@media screen and (max-width: 768px) {
  #content {
    float: none;
    width: 100%;
    margin: 0;
    padding: 1em;
    font-family: "Lato", sans-serif;
    color: #555; }
    #content p {
      /* font-size: 40px; */ } }
#footer-content {
  display: table;
  margin: 0 auto; }
  #footer-content i {
    padding-right: .5em;
    padding-left: .5em; }
  #footer-content a {
    color: #fff; }

#footer {
  display: table-row;
  width: 100%;
  background-color: #1D9D74; }

#social-icons {
  color: #000;
  margin: 40px auto; }

@media screen and (max-width: 768px) {
  #footer {
    margin-top: 20px;
    /*background-color: #D8D8D8;*/
    background-color: #1D9D74; }

  #social-icons {
    color: #000;
    margin: 40px auto; }

  #footer-content {
    display: table;
    margin: 0 auto; } }
#run-content iframe {
  width: 100%; }

@media all and (max-device-width: 800px), all and (max-width: 480px) {
  #run-content iframe {
    display: none;
    float: none;
    width: 100%; } }
#comment-section {
  padding: 1em;
  margin-top: 50px;
  margin-bottom: 25px; }

.post {
  /*.post-date {
      font-size: 12px !important;
  }*/ }
  .post .post-title {
    padding-bottom: 0;
    margin-bottom: 0; }
  .post .post-banner-pic {
    background-repeat: no-repeat;
    max-width: 100%;
    height: 10%; }
  .post .post-list-item {
    display: inline; }
  .post .post-actions {
    display: inline; }

.post-list-item {
  list-style-type: none;
  display: inline; }
  .post-list-item h2 {
    display: inline; }

.post-readmore {
  font-size: 13px !important; }

.post-actions {
  display: inline;
  float: right; }
  .post-actions a {
    margin: 0 1em; }

.post-banner-pic {
  padding-bottom: 30px; }

#blog-summary {
  /*width: 25%;*/
  float: right;
  padding-left: .5em;
  /*width: 30%;*/ }
  #blog-summary h1, #blog-summary h2, #blog-summary h3, #blog-summary h4 {
    font-family: 'Lato', sans serif;
    padding-top: 0; }

@media screen and (max-width: 768px) {
  #blog-summary {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #333;
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 100%;
    float: none;
    padding-left: 0; }
    #blog-summary a:before {
      content: "-";
      position: relative;
      left: 0px; }
    #blog-summary a {
      text-indent: -5px; }

  #blog-roll {
    width: 100%;
    float: none; } }
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather"), url(./fonts/Merriweather/Merriweather-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(./fonts/Lato/Lato-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(./fonts/Lato/Lato-Bold.ttf) format("truetype"); }

/*# sourceMappingURL=base.css.map */
