$body-bg-color: #fff;
$body-font-color: #777;
$body-font-stack: 'Lato', sans-serif;

$header-font-stack: 'Merriweather', serif;

body, html {
    height: 100%;
	background-color: $body-bg-color;
    color: $body-font-color;
    font-family: $body-font-stack;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-family: $header-font-stack;
}

hr { 
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    /*border: 0; 
    padding-left: 15%;
    padding-right: 15%;
    height: 1px;
    background-color: rgba(153, 153, 153, .95);
    width: 100%;*/
}

#main-container {
    display: table;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

*, *:after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media all and (max-device-width:800px),
all and (max-width:480px)
{
    hr { 
        border: 0;
        height: 0;
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    }
}

@import 'header';
@import 'content';
@import 'footer';
@import 'running';
@import 'blog';
@import 'fonts';
