/* Variables */

$content-font-color: #555;

$content-heading-color: #000;

$content-anchor-color: #000;
$content-anchor-hover-color: #FFF06A;

$font-stack: 'Lato', sans-serif;

$font-size-p: 16px;
$font-size-h1: 22px;
$font-size-h2: 20px;
$font-size-h3: 18px;
$font-size-h4: 16px;

$font-weight-h: 700;


/* Start CSS */
#content_container {
    display: table-row;
    height: 100%;
}

#content {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
    font-family: $font-stack;
    color: $content-font-color;

    p {
        font-size: $font-size-p;
    }

    a {
        color: $content-anchor-color;
        text-decoration: none;
        font-weight: 700;
    }

    a:hover {
        border-bottom: 3px solid $content-anchor-hover-color;
    }

    h1, h2, h3, h4 {
        color: $content-heading-color;
    }

    h1 {
        font-family: 'Merriweather', serif;
        font-size: $font-size-h1;
    }

    h2 {
        font-size: $font-size-h2;
    }

    h3 {
        font-size: $font-size-h3;
    }

    h4 {
        font-size: $font-size-h4;
    }
}

/* Quote styling */

blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    margin: 0 auto;
    padding: 1em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;

    display: table;
    width: auto;
}

blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -15px;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}
 
blockquote cite:before {
    content: "\2014 \2009";
}

@media all and (max-device-width:800px),
all and (max-width:480px)
{
    #content {
        p {
            font-size: 40px;
        }
        float: none;
        width: 100%;
        margin: 0;
        padding: 1em;
        font-family: $font-stack;
        color: $content-font-color;
       
        h1 {
            font-family: 'Merriweather', serif;
            font-size: 50px;
        }

        h2 {
            font-size: 48px;
        }

        h3 {
            font-size: 46px;
        }

        h4 {
            font-size: 44px;
        }

    }


}
