$footer-a-social-color: #fff;


#footer-content {
    /*padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;*/

    i {
        padding-right: .5em;
        padding-left: .5em;
    }

    a {
        color: $footer-a-social-color;
    }
}

#footer {
    display: table-row;
    width: 100%;
}

#social-icons {
}

@media screen and (max-width:768px)
{
    #footer {
        margin-top: 20px;
        /*background-color: #D8D8D8;*/
        background-color: #1D9D74;
    }

    #social-icons {
        color: #000;
        margin: 30px auto;
    }
	#footer-content
	{
        display: table;
		margin: 0 auto;
	}
}
