$footer-a-social-color: #fff;


#footer-content {
    display: table;
	margin: 0 auto;

    i {
        padding-right: .5em;
        padding-left: .5em;
    }

    a {
        color: $footer-a-social-color;
    }
}

#footer {
    display: table-row;
    width: 100%;
    background-color: #1D9D74;

}

#social-icons {
    color: #000;
    margin: 40px auto;

}

@media screen and (max-width:768px)
{
    #footer {
        margin-top: 20px;
        /*background-color: #D8D8D8;*/
        background-color: #1D9D74;
    }

    #social-icons {
        color: #000;
        margin: 40px auto;
    }
	#footer-content
	{
        display: table;
		margin: 0 auto;
	}
}
