#run-content img {
	max-width: 80%;
}

#run-content {
    iframe {
        width: 100%;
    }
}
@media all and (max-device-width:800px),
all and (max-width:480px) {

    #run-content {
        iframe {
            float: none;
            width: 100%;
        }
	img {
	    max-width: 100%;
	}
        
    }
}

