@font-face {
    font-family: 'Dense';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/dense.otf') format("opentype");
}

@font-face {
    font-family: 'qlassik';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/qlassik.otf') format("opentype");
}

@font-face {
    font-family: 'qlassik-bold';
    font-style: normal;
    font-weight: bold;
    src: url('fonts/qlassik-bold.otf') format("opentype");
}

*{
    margin:0px;
}

html,body{
    background-color: #e0e0e0;
    height: 100%; 
	width: 100%;
}
#container {
    padding: 5px;
    width: 100%;
    position: relative;
}

img { 
    padding: 0;
}

#grid {
    position: relative;
    margin: 0 auto;

    font-size: 25px;
    font-family: 'Helvetica';
}
#horizontal-grid-packing {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
.box {
    width: 1000px;
    float: left;
    position: relative;
}


#banner {
	padding: 0;
    height: 200px;
    width: 100%;
	margin: auto;
	background-color: #FF8000;
	/*border-bottom: 1px gray dashed;*/
}

#banner_content {
    width: 1000px;
    margin: 0 auto;
}

#about_pic, #header_desc, #navigation {
    float: left;
}


#header_desc {
    text-shadow: 0px 1px 2px #2E2E2E;
}

#navigation a {
    margin-left: 1.5em;
    color: #000000;
    font-family: 'Dense';
    font-size: 30px;
    text-decoration: none;
}
#navigation a:link {
    border-top: 2px #FF8000 solid;
    border-left: 2px #FF8000 solid;
    border-bottom: 2px #424242 solid;
    border-right: 2px #424242 solid;
	padding: 2px;
}
#navigation a:visited {
    border-top: 2px #FF8000 solid;
    border-left: 2px #FF8000 solid;
    border-bottom: 2px #424242 solid;
    border-right: 2px #424242 solid;
	padding: 2px;

}
#navigation a:hover {
    border-bottom: 2px #FF8000 solid;
    border-right: 2px #FF8000 solid;
	text-decoration: none;
    border-top: 2px #424242 solid;
    border-left: 2px #424242 solid;
}

#navigation_table {
    height: 200px;
    display: table;
}

#header_desc_table {
    height: 200px;
    display: table;
}

#navigation_cell {
    display: table-cell;
    vertical-align: middle;
}

#header_desc h1 {
    display: inline;
    font-family: 'Dense';
    font-size: 60px;
}

span {
    vertical-align: middle;
}

#about_pic {
    line-height: 200px;
}

#about_pic::after {
    content: ".";
    visibility: hidden;
}

#about_pic img {
    vertical-align: middle;
}

#header_desc_cell {
    display: table-cell;
    vertical-align: middle;
}
#header_desc p {
    font-style: italic;
    margin: 0;
}
#page_container {
    width: 100%;
}

#content_container {
    padding-top: 30px;
    font-family: 'qlassik';
    font-size: 18px;
    width: 1000px;
    margin: 0 auto;
}

#content_container a {
    color: #FF4040;
}

#content_container h1 {
    color: #009999;
}

h1.about {
    font-family: 'qlassik-bold';
    font-size: 50px;
}

img.about {
    margin-left: 1em;
    float: right;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}


.round-corner {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.circular {
    vertical-align: middle;
	width: 100px;
	height: 100px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}


#current_content {
	color: #333333;
	font-size: 14pt;
	#float: left;
	margin-left: 1em;
	width: 70%;
}

body {
	margin: 0;
	padding: 0;
}
