/* Colors */
/* Title Header Colors */
/*$$color1: #FFFAFA;*/
body, html {
  height: 100%;
  background-color: #FFFFFF;
  padding: 0;
  margin: 0; }

body a:visited {
  color: #222; }

body a {
  color: #222;
  font-weight: bold; }

#big-name-div {
  color: rgba(153, 153, 153, 0.95);
  padding: 0;
  padding-bottom: 1em; }

#content {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 20px;
  font-family: 'Lato', sans-serif; }

#content p {
  color: #777;
  /*color: rgba(0,0,0,0.8);*/
  height: 100%;
  font-size: 14px;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif; }

#about_pic {
  margin: 0 auto;
  width: 80%;
  line-height: 200px; }

#header-content {
  display: block;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 50px;
  margin-bottom: 30px; }

#header {
  display: table-row; }

#about_pic img {
  padding-bottom: 20px;
  display: block;
  margin: auto; }

#banner-links {
  float: right;
  bottom: 0;
  /*width: 100%;*/
  /*width: 80%;*/
  /*margin: auto;*/
  /*text-align: center;*/ }

.clear {
  clear: both; }

.name-big-reverse {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.name-big {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 52px;
  padding: 0;
  margin: 0;
  letter-spacing: -1px; }

/*.name-big::first-letter {
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
    color: #505050;
    font-weight: bold;
}*/
#name_container {
  float: left;
  bottom: 0; }

#header a {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  /*color: #505050;*/
  color: rgba(153, 153, 153, 0.95);
  margin: .5em;
  text-decoration: none; }

#header a:hover {
  color: #000; }

#social-icons {
  float: right; }

#footer {
  display: table-row;
  /*position: absolute; */
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px; }

#footer i {
  padding-right: .5em; }

#footer-content {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 15%;
  margin-right: 15%; }

#footer hr {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px; }

img.about {
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5); }

.round-corner {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.circular {
  vertical-align: middle;
  /*width: 150px;*/
  /*height: 150px;*/
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8); }

#content_container {
  display: table-row;
  height: 100%;
  /*color: #777;*/
  /*color: rgba(0,0,0,0.8);*/
  /*height: 100%;
  font-size: 14px;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  padding-left: 15%;
  padding-right: 15%;*/ }

h3 {
  /*color: #000;*/
  color: #222;
  font-size: 18px;
  line-height: 1.2em;
  letter-spacing: 0px; }

#about-picture {
  background-image: url("me_mtl.jpg"); }

#main-container {
  display: table;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 20px; }

hr {
  border: 0;
  padding-left: 15%;
  padding-right: 15%;
  height: 1px;
  background-color: rgba(153, 153, 153, 0.95);
  width: 100%;
  /*border-top: 1px solid rgba(0, 0, 0, 0.1); 
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.3); */ }

/* Big Triangle */
svg#bigTriangleColor {
  pointer-events: none; }

#bigTriangleColor path {
  fill: white;
  stroke: white;
  stroke-width: 2; }

*, *:after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*# sourceMappingURL=style.css.map */
