$font-stack: 'Lato', sans-serif;

/*$big-name-color: 
$nav-links-color:

$big-name-

*/

#header {
    color: rgba(255, 255, 255, 1);
    
    background:
        linear-gradient(
            rgba(150, 150, 150, .20)
        ),
        url(header_photo.jpg) no-repeat top right fixed; 

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table-row;
}

.header-layer {
    /*height: 600px;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: rgba(150, 150, 150, .20);
    position: absolute;
    top: 0;
    left: 0;*/
    /*width: 100%;
    height: 100%;*/
}

#name-container {
    display: inline-block;
}

#banner-links {
    display: inline-block;
    float: right;
    bottom: 0;

    a {
        text-transform: uppercase;
    }
}

.name-big-reverse {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.name-big {
    text-shaddow: 1px 0px 1px rgba(150, 150, 150, .54) !important; 
    display: inline-block;
    font-family: 'Merriweather', serif;
	font-size: 32px;
    padding: 0;
    margin: 0;
	letter-spacing: -1px;
}


#name_container {
    float: left;
    bottom: 0;
}

#header a {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	/*color: #505050;*/
    color: #fff;
    /*color: rgba(153, 153, 153, 0.95);*/
	margin: .5em;
	text-decoration: none;
}

#header a:hover {
    color: #000;
}
#header a:hover {
    color: #000;
}

#header-content {
    height: 600px;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 120px;
    padding-bottom: 120px;

    hr {
        margin-top: 40px;
    }
}


.clear {
	clear: both; 
}


#big-name-div {
/*    background: url(logo_rafik.png) no-repeat top left;*/
    text-shadow: 2px 2px rgba(150, 150, 150, .24);

    font-size: 2em;
    display: inline-block;
	padding: 0;
    /*border: 1px solid rgba(153, 153, 153, 0.95);*/
}

@media screen and (max-width:768px)
{
    
	#header-content
	{
        background-color: rgba(150, 150, 150, .54);
        /*background-color: #52414C;*/
        display: block;
		margin: 0;
        padding: 1em;
        border-bottom: 1px #333 solid;
        box-shadow: 0 10px 0 #333;

	}

	#big-name-div {
        text-align: center;
        margin: 0 auto;
        color: rgba(153, 153, 153, 0.95);
        padding: 0;
    }

    #name-container {
        display: block;
        text-align: center;
    }

    #banner-links {
        display: block;
        float: none;
        margin: 20px auto;
        text-align: center;
        

        a {
            text-transform: uppercase;
        }
    }

}
