{% extends "base.html" %}

{% block content %}
<img src="static/me_mtl.JPG" 
 alt="leaf graphic" 
 title="leaf graphic" 
class="alignright about" 
/>
<h1 class="about"> Hi, I'm Rafik, a software developer. </h1>
<p> I live and work in beautiful <a href="http://ottawa.ca"> Ottawa, Canada</a>. I like to build things in Python, Java, JavaScript, and on occassion Clojure. In my spare time I love to play football and I am trying to become a runner. I am also attempting to get into <a href="/photography">photography</a> </p>
{% endblock %}
