<!doctype html>
<title>Rafik Rezzik - Admin</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <div class=metanav>
  {% if not session.logged_in %}
  {% else %}
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %}
    <div id=page_container>
          <div id="banner">
                  <div style="display: inline;" id="about_pic">
                      <img class="circular" src="static/me.jpeg">
                  </div>
                  <div style="display: inline; text-align: center" id="header_desc">
                      <div id="header_desc_table">
                      <div id="header_desc_cell">
                          <h1> RAFIK REZZIK </h1>
                          <p> Software Developer </p>
                      </div>
                  </div>

                  </div>
                  <div style="display: inline; float: right;" id="navigation">
                      <div id="navigation_table">
                          <div id="navigation_cell">
                              <a href="/admin/posts"> Blog Management </a>
                              <a href="/admin/photography"> Photo Management </a>
                  </div>
                  </div>
                  </div>
          </div>


      </div>

      <div id=content_container>
 
          {% block content %}{% endblock %}
      </div>
  </div>
