<!DOCTYPE html>
<html lang="en">
<head>
<title> Rafik Rezzik </title>

{% block head_css %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/test.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='simplegrid.css') }}">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"> 
<link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='js/photoswipe/photoswipe.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='js/photoswipe/default-skin/default-skin.css') }}">


{% endblock %}

{% block head_js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery-3.1.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/photoswipe/photoswipe.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/photoswipe/photoswipe-ui-default.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>

{% endblock %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-23644565-1', 'auto');
  ga('send', 'pageview');

</script>
</head>


<body>

    <div id="container">

        <div id="header" class="nav-bar">
            <div class="inner-content-nav">
                <div class="logo">
                    <a href="/"><img width="40px" height="40px" src="{{ url_for('static', filename='logo.svg') }}"/></a>
                </div>
                <div class="links">
                    {% set navigation_bar = navigation_bar|default([
                        ('/about', 'about', 'About'),
                        ('/blog', 'blog', 'Blog'),
                        ('/code', 'code', 'Code'),
                        ('/cooking', 'cooking', 'Cooking')
                    ]) -%}
                    {% set active_page = active_page|default('index') -%}
                    <ul id="navigation">
                    {% for href, id, caption in navigation_bar %}
                    <li{% if id == active_page %} class="active"{% endif
                    %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div id="content">
                    {% block content %}{% endblock %}
        </div>

        <div class="clearfooter"></div>

    </div>






<div id="footer" class="footer">
    
    <div id="social-media">
        <ul>
            <li> <a href="https://twitter.com/RafikRezzik"><i class="fa fa-twitter large" aria-hidden="true"></i></a></li>
            <li> <a href="https://www.instagram.com/rafiks_grafiks/"><i class="fa fa-instagram large" aria-hidden="true"></i></a></li>
            <li> <a href="https://github.com/rrezzik"><i class="fa fa-github-alt large" aria-hidden="true"></i></a></li>

        </ul>
    </div>

    <div id="made-by"> 
        <p> Made with <i class="fa fa-heart" aria-hidden="true"></i> in beautiful <a href="http://ottawa.ca">Ottawa, Canada</a>. </p>
    </div>
</div>

</body>

</html>
