<!doctype html>
<head>
    <title>Rafik Rezzik</title>
    {% block head_js %}
    {% endblock %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
  <div class=metanav>
  {% if not session.logged_in %}
  {% else %}
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %}
    <div id=page_container>
        <div id="banner">
            <div id="banner_content">
                  <div style="display: inline; text-align: center" id="header_desc">
                      <div id="header_desc_table">
                      <div id="header_desc_cell">
                          <h1> RAFIK REZZIK </h1>
                          <p> Software Developer </p>
                      </div>
                  </div>

                  </div>
                  <div style="display: inline; float: right;" id="navigation">
                      <div id="navigation_table">
                          <div id="navigation_cell">
                      <a href="/about"> About </a>
                      <a href="/projects"> Projects </a>
                      <a href="/photography"> Photograpy </a>
                      <a href="/blog"> Blog </a>
                  </div>
                  </div>
                  </div>
              </div>
          </div>



      <div id=content_container>
 
          {% block content %}{% endblock %}
      </div>
  </div>
