{% extends "base.html" %}

{% block content %}
{% for post in posts %}

<div class="post">
    <h1 class="post_title"> {{ post.title }} </h1>
    <p class="post_author"> {{ post.author.fullname }} </p>

    <div class="post_content>
        {{ post.content }}
    </div>
</div>

{% endfor %}

{% endblock %}
