<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
 <ul class=entries>
{% for post in posts %}
<p>
  {{post.author.nickname}} says: <b>{{post.body}}</b>
</p>
{% endfor %}
  </ul>

{% endblock %}
