{% extends "base.html" %}

{% block head_js %}
<script type="text/javascript" src="static/js/jquery.js"></script>
<script type="text/javascript" src="static/js/masonry.js"></script>
<script type="text/javascript" src="static/js/pack.js"></script>
{% endblock %}

{% block content %}
<div id='horizontal-grid-packing'>
    {% for pic in pics %}
    <img src="{{ pic.filename }}" data-width='{{ pic.width }}' data-height='{{ pic.height }}'></img>
    {% endfor %}
</div>

{% endblock %}
