{% extends "blog_index.html" %}

{% block content %}

<div class="post inner-content">
    
    <div class="post-heading">
        <h1 class="post-title"> {{ post.title }} </h1>
        <p class="post-date"> {{ post.timestamp.strftime('%B %d, %Y') }} </p>
        <div class="post-tags">
            {% for tag in post.tags %}
                <p> {{ tag.tag }} </p>
            {% endfor %}
        </div>
        <p style="clear: both;">
    </div>

    <div class="post-tagline">
        {{ post.body|safe }}
    </div>

</div>
<hr/>

<div id="comment-section" class="inner-content">
<h3> Comments </h3>
<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
    var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        var d = document, s = d.createElement('script');
        
        s.src = 'https://rafikrezzik.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
{% endblock %}

