{% extends "base.html" %}

{% block content %}


<div id="run-content">

	<!--<blockquote> 
		It does not matter how slowly you go as long as you do not stop.
		<cite>
			Confucius
		</cite>
	</blockquote>-->



	<p>I decided to include this section to my site as a log of my progression in what is slowly becoming one of my passions. Although my relationship with running was a bitter one at first, I've really grown to enjoy it and I now want to get better at it and run faster.</p>

	<h2> Next Race </h2>
	<p> My next race will be the <a href="http://www.runottawa.ca/races-and-events/tamarack-ottawa-race-weekend/">Scotiabank Ottawa Half Marathon</a> on May 23, 2015.</p>
	<h2> Training </h2>

	<p> I've chosen Hal Higdon's Intermediate Half as the training plan. I will be logging all workouts with my GPS watch and uploading to my Strava account. </p>

	<p> <a href="https://www.strava.com/athletes/5145380">Follow me </a> if you're on Strava! </p>
	<hr/>
	<iframe height='454'width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/5145380/latest-rides/c9c664dc8e702b5e371a643addc4c2b146077ca4'></iframe>
</div>


{% endblock %}

