{% extends "base.html" %}

{% block head_js %}
<script type="text/javascript" src="static/js/jquery.js"></script>
<script type="text/javascript" src="static/js/masonry.js"></script>
<script type="text/javascript" src="static/js/pack.js"></script>
{% endblock %}

{% block content %}


<div id="run-content">
    
    <blockquote> 
        It does not matter how slowly you go as long as you do not stop.
        <cite>
            Confucius
        </cite>
    </blockquote>

    <img width="100%" style="max-width: 100%;" src="{{ url_for('static', filename='images/running_banner.jpg') }}">
    

    <p>I decided to include this section to my site as a log of my progression in what is slowly becoming one of my passions. It is not meant as some way to boast about my running and I hope no one sees it that way. </p>
 
<!-- <h2> Starting out: my first half marathon </h2>

 <p>I signed up for my first half marathon some time between Feburary and April of 2013. It seemed like a cool thing to accomplish. The race was the <a href=""> Canada Army Run </a>, held every September in Otttawa. Thinking with my lifetime of playing soccer I would be more or less fine, I only ran when I felt like it on the weekends, and only went up to about 10k on my runs. On race day I joined the crowd in the corrals and immediately understood the rush people get out of racing -
 the atmosphere is electric. The canon went off and soon enough I began the race. The first 10k went by alright, but as soon as I got to around the 12th kilometer, my body made me painfully aware of my lack of training. It was the most painful thing I'd done but I endured and finished the race.
 
 <h2> I was hooked </h2>
 <p>I immediatly forgot the pain and felt this high. I knew I had just done something incredibly demanding on the body and I was still standing. I wanted more.</p> 
    felt like it.
</div> -->
<h2> Next Race </h2>
<p> My next race will be the <a href="http://www.runottawa.ca/races-and-events/tamarack-ottawa-race-weekend/">Scotiabank Ottawa Half Marathon</a> on May 23, 2015.</p>
<h2> Training </h2>

<p> Starting on February 2, 2015 I'll be starting some more structured training. I've chosen Hal Higdon's Intermediate Half as the training plan. I will be logging all workouts with my GPS watch. </p>

<p> <a href="https://www.strava.com/athletes/5145380">Follow me </a> if you're on Strava! </p>
<hr/>
<iframe height='454' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/5145380/latest-rides/c9c664dc8e702b5e371a643addc4c2b146077ca4'></iframe>
</div>


{% endblock %}
