{% extends "new_base.html" %}

{% block head_js %}
<script type="text/javascript" src="static/js/jquery.js"></script>
<script type="text/javascript" src="static/js/masonry.js"></script>
<script type="text/javascript" src="static/js/pack.js"></script>
{% endblock %}

{% block content %}


<div id="run-content">
    <p>I have always been into sports. Most of my life I've played soccer, at various levels of competition. Once I got into my mid-twenties and was only playing soccer at most a few times a week, I decided to try out running. </p>
 
 <h2> First Half Marathon </h2>
 <iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/5145380/latest-rides/c9c664dc8e702b5e371a643addc4c2b146077ca4'></iframe>

 <p>I signed up for my first half marathon in July, 2013 and ran the Canada Army Run half in September, 2013. Then I ran it again in 2014. However, I never looked at running as something that should be structurd and never really trained other then running when I more or less
    felt like it.
</div>



{% endblock %}
